n8n-workflows/cart-payment.json
{"name":"Cart Payment","nodes":[{"parameters":{"httpMethod":"POST","path":"cart-payment","responseMode":"responseNode","options":{}},"id":"webhook-cart-payment","name":"Cart Payment Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"cart-payment"},{"parameters":{"operation":"create","amount":"={{ $json.body.amount }}","currency":"usd","paymentMethodId":"={{ $json.body.paymentMethodId }}","additionalFields":{"confirmationMethod":"automatic","confirm":true}},"id":"stripe-payment","name":"Process Stripe Payment","type":"n8n-nodes-base.stripe","typeVersion":1,"position":[450,300],"credentials":{"stripeApi":{"id":"stripe-credentials","name":"Stripe API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"payment-success","leftValue":"={{ $json.status }}","rightValue":"succeeded","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-payment","name":"Payment Successful?","type":"n8n-nodes-base.if","typeVersion":2,"position":[650,300]},{"parameters":{"operation":"executeQuery","query":"UPDATE unpaid_orders SET payment_status = 'paid', payment_intent_id = $2, paid_at = COALESCE(paid_at, CURRENT_TIMESTAMP) WHERE id = ANY($1) RETURNING id, order_number, paid_at","additionalFields":{"queryParameters":"={{ [$('Cart Payment Webhook').item.json.body.order_ids, $('Process Stripe Payment').item.json.id] }}"}},"id":"update-unpaid","name":"Update Unpaid Orders","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[850,200],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, pending_procedures FROM unpaid_orders WHERE id = ANY($1)","additionalFields":{"queryParameters":"={{ [$('Cart Payment Webhook').item.json.body.order_ids] }}"}},"id":"get-pending","name":"Get Pending Procedures","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[850,50],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"merge-update-pending","name":"Merge Update + Pending","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1000,125]},{"parameters":{"jsCode":"const out = [];\nconst updateItems = $('Update Unpaid Orders').all();\nconst pendingItems = $('Get Pending Procedures').all();\nfor (let i = 0; i < updateItems.length; i++) {\n  const u = updateItems[i].json;\n  const p = pendingItems[i] ? pendingItems[i].json : {};\n  const procs = Array.isArray(p.pending_procedures) ? p.pending_procedures : [];\n  const paid_at = u.paid_at || new Date().toISOString();\n  for (const proc of procs) {\n    out.push({ json: {\n      order_id: u.id,\n      procedure_id: proc.id != null ? proc.id : null,\n      procedure_name: proc.name || proc.procedure_name || 'Procedure',\n      room_number: String(proc.room || proc.room_number || ''),\n      amount: Number(proc.price) || 0,\n      paid_at,\n      state: 'pending'\n    }});\n  }\n}\nreturn out.length ? out : [{ json: {} }];"},"id":"expand-paid","name":"Expand Paid Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1150,125]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO paid_orders (order_id, procedure_id, procedure_name, room_number, amount, paid_at, state) SELECT $1, $2, $3, $4, $5, $6, $7 WHERE $1 IS NOT NULL RETURNING id","additionalFields":{"queryParameters":"={{ [$json.order_id, $json.procedure_id, $json.procedure_name, $json.room_number, $json.amount, $json.paid_at, $json.state] }}"}},"id":"insert-paid","name":"Insert Paid Orders","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1300,125],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"operation":"executeQuery","query":"SELECT uo.id, uo.order_number, uo.total_amount, uo.paid_at, u.email, u.name as user_name, (SELECT procedure_name FROM paid_orders WHERE order_id = uo.id LIMIT 1) as procedure_name, (SELECT room_number FROM paid_orders WHERE order_id = uo.id LIMIT 1) as room_number FROM unpaid_orders uo JOIN users u ON uo.user_id = u.id WHERE uo.id = ANY($1)","additionalFields":{"queryParameters":"={{ [$('Cart Payment Webhook').item.json.body.order_ids] }}"}},"id":"get-order-details","name":"Get Order Details","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1000,350],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"jsCode":"const fmtVnd = (n) => (n != null ? new Intl.NumberFormat('vi-VN', { maximumFractionDigits: 0 }).format(Number(n)) + ' ₫' : '—');\nconst fmtTime = (s) => { if (!s) return '—'; try { return new Date(s).toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', dateStyle: 'medium', timeStyle: 'short' }); } catch { return String(s); } };\nconst out = [];\nfor (const item of $input.all()) { const d = item.json; if (!d.email) continue; out.push({ json: { email: d.email, orderNumber: d.order_number, userName: d.user_name || 'Customer', procedureName: d.procedure_name || '—', roomNumber: d.room_number || '—', totalAmount: fmtVnd(d.total_amount), paidAt: fmtTime(d.paid_at) } }); }\nreturn out;"},"id":"format-emails","name":"Format Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,350]},{"parameters":{"fromEmail":"noreply@hospital.com","toEmail":"={{ $json.email }}","subject":"Xác nhận thanh toán – Order {{ $json.orderNumber }}","emailType":"html","message":"=<h1>Xác nhận thanh toán</h1><p>Kính gửi {{ $json.userName }},</p><p>Cảm ơn bạn đã thanh toán. Đơn hàng của bạn đã được xác nhận.</p><h2>Thông tin đơn hàng</h2><ul><li><strong>Mã đơn:</strong> {{ $json.orderNumber }}</li><li><strong>Dịch vụ:</strong> {{ $json.procedureName }}</li><li><strong>Phòng:</strong> {{ $json.roomNumber }}</li><li><strong>Số tiền:</strong> {{ $json.totalAmount }}</li><li><strong>Thời gian thanh toán:</strong> {{ $json.paidAt }}</li></ul><p>Vui lòng đến phòng {{ $json.roomNumber }} khi đến lượt bạn.</p><p>Cảm ơn bạn đã sử dụng dịch vụ!</p>","options":{}},"id":"send-email","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1400,350],"credentials":{"smtp":{"id":"smtp-credentials","name":"SMTP"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"payment\": { \"status\": \"succeeded\", \"intentId\": $('Process Stripe Payment').item.json.id } } }}","options":{}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1050,200]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": false, \"error\": \"Payment failed\", \"status\": $('Process Stripe Payment').item.json.status } }}","options":{}},"id":"respond-failure","name":"Respond Failure","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[850,400]}],"connections":{"Cart Payment Webhook":{"main":[[{"node":"Process Stripe Payment","type":"main","index":0}]]},"Process Stripe Payment":{"main":[[{"node":"Payment Successful?","type":"main","index":0}]]},"Payment Successful?":{"main":[[{"node":"Update Unpaid Orders","type":"main","index":0},{"node":"Get Pending Procedures","type":"main","index":0}],[{"node":"Respond Failure","type":"main","index":0}]]},"Update Unpaid Orders":{"main":[[{"node":"Respond Success","type":"main","index":0}],[{"node":"Merge Update + Pending","type":"main","index":0}],[{"node":"Get Order Details","type":"main","index":0}]]},"Get Pending Procedures":{"main":[[{"node":"Merge Update + Pending","type":"main","index":1}]]},"Merge Update + Pending":{"main":[[{"node":"Expand Paid Rows","type":"main","index":0}]]},"Expand Paid Rows":{"main":[[{"node":"Insert Paid Orders","type":"main","index":0}]]},"Update Unpaid Orders":{"main":[[{"node":"Get Order Details","type":"main","index":0}]]},"Get Order Details":{"main":[[{"node":"Format Emails","type":"main","index":0}]]},"Format Emails":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2026-02-23T00:00:00.000Z","versionId":"2"}
