n8n-workflows/my-orders.json
{"name":"My Orders (paid for user)","nodes":[{"parameters":{"httpMethod":"GET","path":"my-orders","responseMode":"responseNode","options":{}},"id":"webhook-my-orders","name":"My Orders Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"my-orders"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst query = item.query || item.params || {};\nconst user_id = parseInt(query.user_id || query.userId || '0', 10) || 0;\nreturn [{ json: { user_id } }];"},"id":"normalize-query","name":"Normalize Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,300]},{"parameters":{"operation":"executeQuery","query":"SELECT uo.id, uo.order_number, uo.user_id, uo.payment_status, uo.payment_intent_id, uo.total_amount, uo.paid_at, uo.created_at, u.name AS user_name, po.id AS item_id, po.procedure_id, po.procedure_name, po.room_number, po.amount, COALESCE(po.state, 'pending') AS status FROM unpaid_orders uo LEFT JOIN users u ON uo.user_id = u.id INNER JOIN paid_orders po ON po.order_id = uo.id WHERE uo.user_id = $1 ORDER BY uo.created_at DESC, po.id ASC LIMIT 100","additionalFields":{"queryParameters":"={{ [$json.user_id] }}"}},"id":"get-my-orders","name":"Get My Orders","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[550,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst orders = items.map(i => i.json);\nreturn [{ json: { success: true, orders } }];"},"id":"build-response","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[750,300]}],"connections":{"My Orders Webhook":{"main":[[{"node":"Normalize Query","type":"main","index":0}]]},"Normalize Query":{"main":[[{"node":"Get My Orders","type":"main","index":0}]]},"Get My Orders":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2026-02-23T00:00:00.000Z","versionId":"2"}
