n8n-workflows/order-status.json
{"name":"Get Order Status","nodes":[{"parameters":{"httpMethod":"GET","path":"order-status","responseMode":"responseNode","options":{}},"id":"webhook-status","name":"Order Status Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"order-status"},{"parameters":{"operation":"executeQuery","query":"SELECT uo.id, uo.order_number, uo.user_id, uo.payment_status AS status, uo.payment_status, uo.payment_intent_id, uo.total_amount, uo.paid_at, uo.created_at, u.name AS user_name, (SELECT procedure_name FROM paid_orders WHERE order_id = uo.id LIMIT 1) AS procedure_name, (SELECT room_number FROM paid_orders WHERE order_id = uo.id LIMIT 1) AS room_number FROM unpaid_orders uo LEFT JOIN users u ON uo.user_id = u.id WHERE uo.id = $1","additionalFields":{"queryParameters":"={{ [$json.query?.order_id] }}"}},"id":"get-order","name":"Get Order","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[450,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"order\": $json[0] || null } }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,300]}],"connections":{"Order Status Webhook":{"main":[[{"node":"Get Order","type":"main","index":0}]]},"Get Order":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"staticData":null,"updatedAt":"2026-02-23T00:00:00.000Z","versionId":"2"}
