n8n-workflows/order-by-number.json
{"name":"Get Order By Number","nodes":[{"parameters":{"httpMethod":"GET","path":"order-by-number","responseMode":"responseNode","options":{}},"id":"webhook-order-by-number","name":"Order By Number Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"order-by-number"},{"parameters":{"jsCode":"const raw = $input.first().json;\nconst q = raw.query || raw.params || {};\nconst order_number = Array.isArray(q.order_number) ? q.order_number[0] : (q.order_number || '');\nconst order_number_esc = String(order_number).replace(/'/g, \"''\");\nconst query = `SELECT uo.id, uo.order_number, uo.user_id, uo.payment_status AS status, uo.payment_status, uo.payment_intent_id, uo.total_amount, uo.paid_at, uo.created_at, u.name AS user_name, (SELECT procedure_name FROM paid_orders WHERE order_id = uo.id LIMIT 1) AS procedure_name, (SELECT room_number FROM paid_orders WHERE order_id = uo.id LIMIT 1) AS room_number FROM unpaid_orders uo LEFT JOIN users u ON uo.user_id = u.id WHERE uo.order_number = '${order_number_esc}'`;\nreturn [{ json: { query } }];"},"id":"build-query","name":"Build Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,300]},{"parameters":{"operation":"executeQuery","query":"={{ $json.query }}","additionalFields":{}},"id":"get-order-by-number","name":"Get Order By Number","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[520,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"order\": $json || null } }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,300]}],"connections":{"Order By Number Webhook":{"main":[[{"node":"Build Query","type":"main","index":0}]]},"Build Query":{"main":[[{"node":"Get Order By Number","type":"main","index":0}]]},"Get Order By Number":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2026-02-23T00:00:00.000Z","versionId":"2"}
