n8n-workflows/payment.json
{
  "name": "Payment Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-payment",
      "name": "Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "process-payment"
    },
    {
      "parameters": {
        "operation": "create",
        "amount": "={{ $json.body.amount }}",
        "currency": "usd",
        "paymentMethodId": "={{ $json.body.paymentMethodId }}",
        "additionalFields": {
          "confirmationMethod": "automatic",
          "confirm": true
        }
      },
      "id": "stripe-payment",
      "name": "Process Stripe Payment",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "stripeApi": {
          "id": "stripe-credentials",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "payment-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-payment",
      "name": "Payment Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders SET payment_status = 'paid', payment_intent_id = $1, status = 'paid', paid_at = COALESCE(paid_at, CURRENT_TIMESTAMP) WHERE id = $2 RETURNING *",
        "additionalFields": {
          "queryParameters": "={{ [$('Process Stripe Payment').item.json.id, $('Payment Webhook').item.json.body.order_id] }}"
        }
      },
      "id": "update-order",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.id, o.order_number, o.total_amount, o.paid_at, u.email, u.name as user_name, (SELECT oi.procedure_name FROM order_items oi WHERE oi.order_id = o.id LIMIT 1) as procedure_name, (SELECT oi.room_number FROM order_items oi WHERE oi.order_id = o.id LIMIT 1) as room_number FROM orders o JOIN users u ON o.user_id = u.id WHERE o.id = $1",
        "additionalFields": {
          "queryParameters": "={{ [$json.id] }}"
        }
      },
      "id": "get-order-details",
      "name": "Get Order Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst fmtVnd = (n) => (n != null ? new Intl.NumberFormat('vi-VN', { maximumFractionDigits: 0 }).format(Number(n)) + ' ₫' : '—');\nconst fmtTime = (s) => { if (!s) return '—'; try { return new Date(s).toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', dateStyle: 'medium', timeStyle: 'short' }); } catch { return String(s); } };\nreturn [{ json: { email: d.email || '', orderNumber: d.order_number || '', userName: d.user_name || 'Customer', procedureName: d.procedure_name || '—', roomNumber: d.room_number || '—', totalAmount: fmtVnd(d.total_amount), paidAt: fmtTime(d.paid_at) } }];"
      },
      "id": "format-email",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has-email", "leftValue": "={{ $json.email }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@medflow.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Xác nhận thanh toán – Order {{ $json.orderNumber }}",
        "emailType": "html",
        "message": "=<h1>Xác nhận thanh toán</h1><p>Kính gửi {{ $json.userName }},</p><p>Cảm ơn bạn đã thanh toán. Đơn hàng của bạn đã được xác nhận.</p><h2>Thông tin đơn hàng</h2><ul><li><strong>Mã đơn:</strong> {{ $json.orderNumber }}</li><li><strong>Dịch vụ:</strong> {{ $json.procedureName }}</li><li><strong>Phòng:</strong> {{ $json.roomNumber }}</li><li><strong>Số tiền:</strong> {{ $json.totalAmount }}</li><li><strong>Thời gian thanh toán:</strong> {{ $json.paidAt }}</li></ul><p>Vui lòng đến phòng {{ $json.roomNumber }} khi đến lượt bạn.</p><p>Cảm ơn bạn đã sử dụng dịch vụ!</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1650, 200],
      "credentials": { "smtp": { "id": "smtp-credentials", "name": "SMTP" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"order\": $('Get Order Details').item.json, \"payment\": { \"status\": \"succeeded\", \"intentId\": $('Process Stripe Payment').item.json.id } } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Payment failed\", \"status\": $('Process Stripe Payment').item.json.status } }}",
        "options": {}
      },
      "id": "respond-failure",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Payment Webhook": {
      "main": [[
        { "node": "Process Stripe Payment", "type": "main", "index": 0 }
      ]]
    },
    "Process Stripe Payment": {
      "main": [[
        { "node": "Payment Successful?", "type": "main", "index": 0 }
      ]]
    },
    "Payment Successful?": {
      "main": [
        [
          { "node": "Update Order Status", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Failure", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Order Status": {
      "main": [[
        { "node": "Get Order Details", "type": "main", "index": 0 }
      ]]
    },
    "Get Order Details": {
      "main": [[
        { "node": "Format Email", "type": "main", "index": 0 }
      ]]
    },
    "Format Email": {
      "main": [[
        { "node": "Has Email?", "type": "main", "index": 0 }
      ]]
    },
    "Has Email?": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }],
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    },
    "Send Email": {
      "main": [[
        { "node": "Respond Success", "type": "main", "index": 0 }
      ]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}
