n8n-workflows/sepay-ipn.json
{"name":"SePay IPN","nodes":[{"parameters":{"httpMethod":"POST","path":"sepay-ipn","responseMode":"responseNode","options":{}},"id":"webhook-sepay-ipn","name":"SePay IPN Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"sepay-ipn"},{"parameters":{"jsCode":"const item = $input.first();\nconst raw = item.json;\nconst body = raw.body !== undefined ? raw.body : raw;\nconst parsed = typeof body === 'string' ? JSON.parse(body) : (body || {});\nlet order_invoice_number = parsed.order_invoice_number || parsed.order?.order_invoice_number || '';\norder_invoice_number = String(order_invoice_number).trim();\n// Normalize to DB format YYYYMMDD-NNNN (e.g. 202602230001 -> 20260223-0001)\nif (/^\\d{8}\\d{4}$/.test(order_invoice_number)) {\n  order_invoice_number = order_invoice_number.slice(0, 8) + '-' + order_invoice_number.slice(8);\n}\nconst transaction_id = parsed.transaction_id || parsed.transaction?.transaction_id || 'ipn';\nreturn [{ json: { order_invoice_number, transaction_id: String(transaction_id) } }];"},"id":"normalize-body","name":"Normalize Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[380,300]},{"parameters":{"operation":"executeQuery","query":"SELECT id, order_number, pending_procedures FROM unpaid_orders WHERE order_number = $1 AND payment_status != 'paid' LIMIT 1","additionalFields":{"queryParameters":"={{ [$json.order_invoice_number] }}"}},"id":"get-unpaid","name":"Get Unpaid Order","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[550,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"merge-norm-unpaid","name":"Merge Norm + Unpaid","type":"n8n-nodes-base.merge","typeVersion":3,"position":[520,200]},{"parameters":{"operation":"executeQuery","query":"UPDATE unpaid_orders SET payment_status = 'paid', paid_at = COALESCE(paid_at, CURRENT_TIMESTAMP), payment_intent_id = COALESCE(NULLIF(TRIM($2), ''), payment_intent_id) WHERE order_number = $1 AND payment_status != 'paid' RETURNING id, order_number, paid_at","additionalFields":{"queryParameters":"={{ [($json.order_number || $json.order_invoice_number), 'sepay:' + ($json.transaction_id || 'ipn')] }}"}},"id":"update-unpaid","name":"Update Unpaid (SePay)","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"jsCode":"const upd = $input.first().json;\nconst unpaid = $('Get Unpaid Order').first().json;\nconst procs = Array.isArray(unpaid.pending_procedures) ? unpaid.pending_procedures : [];\nconst paid_at = upd.paid_at || new Date().toISOString();\nconst order_id = upd.id;\nreturn procs.map(p => ({ json: {\n  order_id,\n  procedure_id: p.id != null ? p.id : null,\n  procedure_name: p.name || p.procedure_name || 'Procedure',\n  room_number: String(p.room || p.room_number || ''),\n  amount: Number(p.price) || 0,\n  paid_at,\n  state: 'pending'\n}}));"},"id":"expand-paid-rows","name":"Expand Paid Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO paid_orders (order_id, procedure_id, procedure_name, room_number, amount, paid_at, state) VALUES ($1, $2, $3, $4, $5, $6, $7) RETURNING id","additionalFields":{"queryParameters":"={{ [$json.order_id, $json.procedure_id, $json.procedure_name, $json.room_number, $json.amount, $json.paid_at, $json.state] }}"}},"id":"insert-paid","name":"Insert Paid Orders","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1050,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"operation":"executeQuery","query":"SELECT uo.order_number, uo.total_amount, uo.paid_at, uo.created_at, u.name as user_name, u.email, (SELECT procedure_name FROM paid_orders WHERE order_id = uo.id LIMIT 1) as procedure_name, (SELECT room_number FROM paid_orders WHERE order_id = uo.id LIMIT 1) as room_number FROM unpaid_orders uo JOIN users u ON uo.user_id = u.id WHERE uo.order_number = $1 LIMIT 1","additionalFields":{"queryParameters":"={{ [$('Update Unpaid (SePay)').first().json.order_number] }}"}},"id":"get-order-details","name":"Get Order Details","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[880,480],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"jsCode":"const item = $input.first();\nconst d = item.json;\nconst fmtVnd = (n) => (n != null ? new Intl.NumberFormat('vi-VN', { maximumFractionDigits: 0 }).format(Number(n)) + ' ₫' : '—');\nconst fmtTime = (s) => { if (!s) return '—'; try { const dt = new Date(s); return dt.toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', dateStyle: 'medium', timeStyle: 'short' }); } catch { return String(s); } };\nreturn [{ json: { email: d.email || '', orderNumber: d.order_number || '', userName: d.user_name || 'Customer', procedureName: d.procedure_name || '—', roomNumber: d.room_number || '—', totalAmount: fmtVnd(d.total_amount), paidAt: fmtTime(d.paid_at), createdAt: fmtTime(d.created_at) } }];"},"id":"format-email","name":"Format Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1050,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-email","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"has-email-check","name":"Has Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1230,480]},{"parameters":{"fromEmail":"noreply@medflow.com","toEmail":"={{ $json.email }}","subject":"Xác nhận thanh toán – Order {{ $json.orderNumber }}","emailType":"html","message":"=<h1>Xác nhận thanh toán</h1><p>Kính gửi {{ $json.userName }},</p><p>Cảm ơn bạn đã thanh toán. Đơn hàng của bạn đã được xác nhận.</p><h2>Thông tin đơn hàng</h2><ul><li><strong>Mã đơn:</strong> {{ $json.orderNumber }}</li><li><strong>Dịch vụ:</strong> {{ $json.procedureName }}</li><li><strong>Phòng:</strong> {{ $json.roomNumber }}</li><li><strong>Số tiền:</strong> {{ $json.totalAmount }}</li><li><strong>Thời gian thanh toán:</strong> {{ $json.paidAt }}</li></ul><p><strong>Hướng dẫn:</strong> Vui lòng đến phòng {{ $json.roomNumber }} khi đến lượt bạn.</p><p>Cảm ơn bạn đã sử dụng dịch vụ!</p>","options":{}},"id":"send-email","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1410,380],"credentials":{"smtp":{"id":"smtp-credentials","name":"SMTP"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $('Update Unpaid (SePay)').all().length > 0 ? { \"success\": true, \"message\": \"Order marked as paid\", \"rows_updated\": $('Update Unpaid (SePay)').all().length } : { \"success\": false, \"message\": \"Order not updated (not found or already paid)\", \"rows_updated\": 0 } }}","options":{}},"id":"respond-sepay-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1230,600]}],"connections":{"SePay IPN Webhook":{"main":[[{"node":"Normalize Body","type":"main","index":0}]]},"Normalize Body":{"main":[[{"node":"Merge Norm + Unpaid","type":"main","index":0}],[{"node":"Get Unpaid Order","type":"main","index":0}]]},"Get Unpaid Order":{"main":[[{"node":"Merge Norm + Unpaid","type":"main","index":1}]]},"Merge Norm + Unpaid":{"main":[[{"node":"Update Unpaid (SePay)","type":"main","index":0}]]},"Update Unpaid (SePay)":{"main":[[{"node":"Expand Paid Rows","type":"main","index":0}],[{"node":"Get Order Details","type":"main","index":0}]]},"Expand Paid Rows":{"main":[[{"node":"Insert Paid Orders","type":"main","index":0}]]},"Get Order Details":{"main":[[{"node":"Format Email","type":"main","index":0}]]},"Format Email":{"main":[[{"node":"Has Email?","type":"main","index":0}]]},"Has Email?":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"Respond Success","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2026-02-23T00:00:00.000Z","versionId":"2"}
