n8n-workflows/sepay-ipn.json
{
  "name": "SePay IPN",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sepay-ipn",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-sepay-ipn",
      "name": "SePay IPN Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sepay-ipn"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst raw = item.json;\nconst body = raw.body !== undefined ? raw.body : raw;\nconst parsed = typeof body === 'string' ? JSON.parse(body) : (body || {});\nconst order_invoice_number = parsed.order_invoice_number || parsed.order?.order_invoice_number || '';\nconst transaction_id = parsed.transaction_id || parsed.transaction?.transaction_id || 'ipn';\nreturn [{ json: { order_invoice_number: String(order_invoice_number).trim(), transaction_id: String(transaction_id) } }];"
      },
      "id": "normalize-body",
      "name": "Normalize Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders SET payment_status = 'paid', status = 'paid', paid_at = COALESCE(paid_at, CURRENT_TIMESTAMP), payment_intent_id = COALESCE(NULLIF(TRIM($2), ''), payment_intent_id) WHERE order_number IN (SELECT trim(unnest(string_to_array($1, ',')))) AND payment_status != 'paid' RETURNING id, order_number, payment_status, status",
        "additionalFields": {
          "queryParameters": "={{ [$json.order_invoice_number, 'sepay:' + $json.transaction_id] }}"
        }
      },
      "id": "update-order-sepay",
      "name": "Update Order (SePay)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [550, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.order_number, o.procedure_name, o.room_number, o.total_amount, o.paid_at, o.created_at, u.name as user_name, u.email FROM orders o JOIN users u ON o.user_id = u.id WHERE o.order_number = $1 LIMIT 1",
        "additionalFields": {
          "queryParameters": "={{ [$json.order_invoice_number] }}"
        }
      },
      "id": "get-order-details",
      "name": "Get Order Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [730, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Railway"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst d = item.json;\nconst fmtVnd = (n) => (n != null ? new Intl.NumberFormat('vi-VN', { maximumFractionDigits: 0 }).format(Number(n)) + ' ₫' : '—');\nconst fmtTime = (s) => {\n  if (!s) return '—';\n  try {\n    const dt = new Date(s);\n    return dt.toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', dateStyle: 'medium', timeStyle: 'short' });\n  } catch { return String(s); }\n};\nreturn [{ json: {\n  email: d.email || '',\n  orderNumber: d.order_number || '',\n  userName: d.user_name || 'Customer',\n  procedureName: d.procedure_name || '—',\n  roomNumber: d.room_number || '—',\n  totalAmount: fmtVnd(d.total_amount),\n  paidAt: fmtTime(d.paid_at),\n  createdAt: fmtTime(d.created_at)\n}}];"
      },
      "id": "format-email",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-email-check",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1090, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@hospital.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Xác nhận thanh toán – Order {{ $json.orderNumber }}",
        "emailType": "html",
        "message": "=<h1>Xác nhận thanh toán</h1><p>Kính gửi {{ $json.userName }},</p><p>Cảm ơn bạn đã thanh toán. Đơn hàng của bạn đã được xác nhận.</p><h2>Thông tin đơn hàng</h2><ul><li><strong>Mã đơn:</strong> {{ $json.orderNumber }}</li><li><strong>Dịch vụ:</strong> {{ $json.procedureName }}</li><li><strong>Phòng:</strong> {{ $json.roomNumber }}</li><li><strong>Số tiền:</strong> {{ $json.totalAmount }}</li><li><strong>Thời gian thanh toán:</strong> {{ $json.paidAt }}</li></ul><p><strong>Hướng dẫn:</strong> Vui lòng đến phòng {{ $json.roomNumber }} khi đến lượt bạn.</p><p>Cảm ơn bạn đã sử dụng dịch vụ!</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1270, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Update Order (SePay)').all().length > 0 ? { \"success\": true, \"message\": \"Order marked as paid\", \"rows_updated\": $('Update Order (SePay)').all().length } : { \"success\": false, \"message\": \"Order not updated (not found or already paid)\", \"rows_updated\": 0 } }}",
        "options": {}
      },
      "id": "respond-sepay-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "SePay IPN Webhook": {
      "main": [
        [
          {
            "node": "Normalize Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Body": {
      "main": [
        [
          {
            "node": "Update Order (SePay)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Order Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Details": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-14T00:00:00.000Z",
  "versionId": "1"
}
