n8n-workflows/update-item-status.json
{"name":"Update Item Status","nodes":[{"parameters":{"httpMethod":"POST","path":"update-item-status","responseMode":"responseNode","options":{}},"id":"webhook-item-status","name":"Update Item Status Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"update-item-status"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body != null ? input.body : input;\nconst item_id = body.item_id != null ? Number(body.item_id) : null;\nconst status = body.status != null ? String(body.status).trim() : null;\nreturn [{ json: { item_id, status } }];"},"id":"normalize-body","name":"Normalize Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[350,300]},{"parameters":{"operation":"executeQuery","query":"UPDATE paid_orders SET state = $1 WHERE id = $2 RETURNING id, order_id, procedure_name, room_number, state","additionalFields":{"queryParameters":"={{ [$json.status, $json.item_id] }}"}},"id":"update-item","name":"Update Paid Order State","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[500,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"item\": { \"id\": $json.id, \"order_id\": $json.order_id, \"procedure_name\": $json.procedure_name, \"room_number\": $json.room_number, \"status\": $json.state } } }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,300]}],"connections":{"Update Item Status Webhook":{"main":[[{"node":"Normalize Body","type":"main","index":0}]]},"Normalize Body":{"main":[[{"node":"Update Paid Order State","type":"main","index":0}]]},"Update Paid Order State":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2026-02-23T00:00:00.000Z","versionId":"2"}
