n8n-workflows/worker-orders.json
{"name":"Worker Orders List","nodes":[{"parameters":{"httpMethod":"GET","path":"worker-orders","responseMode":"responseNode","options":{}},"id":"webhook-orders","name":"Worker Orders Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"worker-orders"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst query = item.query || item.params || {};\nconst status = query.status && query.status !== 'all' ? query.status : null;\nreturn [{ json: { status } }];"},"id":"normalize-query","name":"Normalize Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[350,300]},{"parameters":{"operation":"executeQuery","query":"SELECT po.id, uo.id AS order_id, uo.order_number, po.state AS status, uo.payment_status, uo.total_amount, po.paid_at, uo.created_at, u.id AS user_id, u.name AS user_name, po.id AS item_id, po.procedure_name, po.room_number, po.amount FROM unpaid_orders uo JOIN users u ON uo.user_id = u.id INNER JOIN paid_orders po ON po.order_id = uo.id WHERE ($1::text IS NULL OR $1 = 'all' OR po.state = $1) ORDER BY uo.created_at DESC, uo.id ASC, po.id ASC LIMIT 100","additionalFields":{"queryParameters":"={{ [$json.status] }}"}},"id":"get-orders","name":"Get Orders","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[500,300],"credentials":{"postgres":{"id":"postgres-credentials","name":"PostgreSQL Railway"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst orders = items.map(i => i.json);\nreturn [{ json: { success: true, orders } }];"},"id":"build-response","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[750,300]}],"connections":{"Worker Orders Webhook":{"main":[[{"node":"Normalize Query","type":"main","index":0}]]},"Normalize Query":{"main":[[{"node":"Get Orders","type":"main","index":0}]]},"Get Orders":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":0,"updatedAt":"2026-02-23T00:00:00.000Z","versionId":"2"}
